<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='icon' href='/img/weather.png'>
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class='main-content'>
        <img class='portrait' src="/img/robot.png" />
        {{>header}}
        <p>Uses data from Mapbox</p>
        <p>About page by {{name}}</p>
    </div>

    {{>footer}}
</body>

</html>